{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}

<form method="POST">
    <h3 align="center">Create New Revenue</h3>
    <div class="form-group">
        <label for="NewRevName">New Revenue Name</label>
        <input type="NewRevName" class="form-control" id="NewRevName" name="NewRevName" placeholder="Enter name of new revenue"/>
    </div>
    <div class="form-group">
        <label for="NewRevInst">New Revenue Institution</label>
        <input type="NewRevInst" class="form-control" id="NewRevInst" name="NewRevInst" placeholder="Enter Name of Revenue Institution (specific source/employer)"/>
    </div>
    <div class="form-group">
        <label for="NewRevAcct" class="form-label">Account</label>
        <input class="form-control" list="datalistOptions" id="NewRevAcct" value="Joint" placeholder="Type to search for accts...">
        <datalist id="datalistOptions">
            {% for i in accts %}
            <option value={{i[3]}}>
            {%endfor%}
        </datalist>
    </div>
    <div class="form-group">
        <label for="NewRevAmount">New Revenue Amount</label>
        <input type="NewRevAmount" class="form-control" id="NewRevAmount" name="NewRevAmount" placeholder="Enter Amount of Revenue"/>
    </div>
    <div class="form-group">
        <label for="NewRevFreq">New Revenue Freq</label>
        <input type="NewRevFreq" class="form-control" id="NewRevFreq" name="NewRevFreq" placeholder="Enter Frequency of Revenue"/>
    </div>
    <div class="form-group">
        <label for="NewRevStartDate">New Revenue Start Date</label>
        <input type="NewRevStartDate" class="form-control" id="NewRevStartDate" name="NewRevStartDate" placeholder="Enter Start Date of Revenue"/>
    </div>
    <div class="form-group">
        <label for="NewRevEnd">New Revenue End Date</label>
        <input type="NewRevEnd" class="form-control" id="NewRevEnd" name="NewRevEnd" placeholder="Enter End Date of Revenue"/>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
    </h3>
</form>
{% endblock %}