{% from '/deps/macros.j2' import render_table with context %}
{% from '/deps/macros.j2' import render_context_form with context %}
{% extends "/deps/base.j2" %}

{% set showHeaderNav = 1 %}

{% block title %}Account View{% endblock %}

{% block content %}

{% include "/deps/pre-content-nav-block.html" %}
{% if context=='newtx' %}
    
{% endif %}
{% if context!='newtx' %}
    {% block ContextForm %}
        {{ render_context_form(ContextForm)}}
    {% endblock %}
{% else %}
    {% include "/deps/newtx.j2" %}
{% endif %}


{% if rec_mode!='new' %}
    {{ render_table(ptx) }}    
{% endif %}


{% endblock %}