{% extends "/deps/base.j2" %}
{% set showHeaderNav = 1 %}
{% block title %}Home{% endblock %}

{% block content %}

{% if nonprod=="true" %}
    {% include '/deps/home_demo.html' %}
{% else %}
    {% include '/deps/home.html' %}
{% endif %}


{% endblock %}