{% extends "base.html" %}
{% block title %}Accts{% endblock %}


{% block content %}
<br>
{% if acct==[] %}
<h3>Viewing projection in *No Account Selected*</h3>
{% else %}
<h3>Viewing projection in {{acct.account_display_name}}</h3>
{% endif %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    {% if acct==[] %}
    <a class="nav-link active" aria-current="page" href="#">No Account Selected</a>
    {% else %}
    <a class="nav-link active" aria-current="page" href="/accts?acct={{acct.id}}">{{acct.account_display_name}}</a>
    {% endif %}
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/tx/new?acct={{acct.id}}&txtype_arg=adhoc" role="button">New Tx</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Accounts</a>
    <ul class="dropdown-menu">
      {% for i in user.acctIds %}
      <li><a class="dropdown-item" href="/accts?acct={{i.id}}">{{i.account_display_name}}</a></li>
      {%endfor%}
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/accts?acctedit=true">Create New Account</a></li>
      <li><a class="dropdown-item" href="/accts?acct={{acct.id}}&acctedit=true">Edit This Account</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-revanded="false">Revenues</a>
    <ul class="dropdown-menu">
        {% for i in acct.rev_ids %}
        <li><a class="dropdown-item" href="/revenue?acct={{acct.id}}&revid_arg={{i.id}}">{{i.display_name}}</a></li>
        {%endfor%}
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/revenue?acct={{acct.id}}">Create New Revenue</a></li>
      </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Expenses</a>
    <ul class="dropdown-menu">
        {% for i in acct.exp_ids %}
        <li><a class="dropdown-item" href="/expense?acct={{acct.id}}&expid_arg={{i.id}}">{{i.display_name}}</a></li>
        {%endfor%}
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/expense?acct={{acct.id}}">Create New Expense</a></li>
      </ul>
  </li>
  </li><li class="nav-item">
    <a class="nav-link dropdown-toggle " data-bs-toggle="dropdown" href="/#" role="button" aria-expanded="false">Projections</a>
    <ul class="dropdown-menu">
        {% for i in projs %}
        <li><a class="dropdown-item" href="/projection/view?proj_id={{i['id']}}">{{i['disp_name']}}</a></li>
        {%endfor%}
        <li><hr class="dropdown-divider"></li>
        <li>
          <form method="post" action="/projection/new" class="inline">
            <input type="hidden" name="acct_id" value="{{acct.id}}">
            <div class="text-center">
            <button type="submit" class="btn btn-success">Create New Projection</button></div>
          </form>
        </li>
      </ul>
  </li> </li>

  {% block pretable %}
  {% endblock %}

  {% if action=='view' %}
<form method="POST" id="acctForm">
  <label for="acctForm">Viewing Projection</label>
  <div class="input-group mb-3">
    <span class="input-group-text">_id</span>
    <input type="text" class="form-control" name="proj_id" value="{{proj.id}}" placeholder="-" readonly>
    <span class="input-group-text">Name</span>
    <input type="text" class="form-control" name="proj_disp_name" value="{{proj.disp_name}}" placeholder="-" readonly>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Account Name</span>
    <input type="text" class="form-control" name="acct_name" value="{{acct.account_display_name}}" placeholder="-" readonly>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Start Date</span>
    <input type="text" class="form-control" name="start_date" value="{{proj.start_date}}" placeholder="-" readonly>
    <span class="input-group-text">End Date</span>
    <input type="text" class="form-control" name="end_date" value="{{proj.end_date}}" placeholder="-" readonly>
    <span class="input-group-text">Final Balance</span>
    <input type="text" class="form-control" name="balance" value="{{proj.balance}}" placeholder="-" readonly>
  </div>
</form>
{% elif action=='new' %}
<form method="POST" id="acctForm">
    <label for="acctForm">Create New Projection</label>
    <div class="input-group mb-3">
      <span class="input-group-text">_id</span>
      <input type="text" class="form-control" name="proj_id" value="{{proj.id}}" placeholder="-" readonly>
      <span class="input-group-text">Name</span>
      <input type="text" class="form-control" name="proj_disp_name" value="" placeholder="-">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Account Name</span>
      <input type="text" class="form-control" name="acct_name" value="{{acct.account_display_name}}" placeholder="-" readonly>
      <input type="hidden" class="form-control" name="acct_id" value="{{acct.id}}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Start Date</span>
      <input type="text" class="form-control" name="start_date" value="{{proj.start_date}}" placeholder="-">
      <span class="input-group-text">End Date</span>
      <input type="text" class="form-control" name="end_date" value="{{proj.end_date}}" placeholder="-">
      <span class="input-group-text">Final Balance</span>
      <input type="text" class="form-control" name="balance" value="" placeholder="-">
    </div>
    <div class="input-group mb-3">
        <button type="submit" class="btn btn-primary" placeholder="-">Submit</button>
    </div>
  </form>
{% endif %}
<table class="table table-success table-striped-columns table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">_id</th>
            <th scope="col">Memo</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">TxType</th>
            <th scope="col">AdHoc</th>
            <th scope="col">Balance</th>
        </tr>
        </thead>
        <tbody>
            {% for i in proj.projected_txs %}
            <tr>
                <td>{{"#"}}</td>
                <td>{{i.seq}}</td>
                <td>{{i.memo}}</td>
                {%if i.tx_type=="debit"%}
                <td>{{"-$%.2f"|format(i.amount)}}</td>
                {%else%}
                <td>{{"$%.2f"|format(i.amount)}}</td>
                {%endif%}
                <td>{{i.date}}</td>
                <td>{{i.tx_type}}</td>
                <td>{{i.ad_hoc}}</td>
                <td>{{i.balance}}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% endblock %}