{% extends "/deps/base.j2" %}
{% block title %}Sign Up{% endblock %}

{% block content %}

<form method="POST">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"/>
    </div>
    <div class="form-group">
        <label for="timezone">Time zone</label>
        <input type="timezone" class="form-control" id="timezone" name="timezone" placeholder="Enter timezone"/>
    </div>
    <div class="form-group">
        <label for="userid">User ID</label>
        <input type="userid" class="form-control" id="userid" name="userid" placeholder="Enter userid"/>
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="firstName" class="form-control" id="firstName" name="firstName" placeholder="Enter first name"/>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="lastName" class="form-control" id="lastName" name="lastName" placeholder="Enter last name"/>
    </div>
    <div class="form-group">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter Password"/>
    </div>
    <div class="form-group">
        <label for="password2">Password confirm</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password"/>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
    </h3>
</form>
{% endblock %}